<h1>@ViewBag.ifPerson</h1>
<form asp-action= "Index">
        <label>Mã sinh viên: </label>
    <input type="text" name = "PersonID">
        <label>Ho Ten: </label>
    <input type="text" name = "FullName">
        <label>Dia chi: </label>
    <input type="text" name = "Address">
    <input type="submit" value=" Gui du lieu"
</form>