@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewBag.Info</h1>
<form asp-action = "Index">
    <label>Căn cước công dân: </label>
    <input type="text" name = "CCCD">
     <label>Họ Tên: </label>
    <input type="text" name = "HoTen">
       <label>Quê quán: </label>
    <input type="text" name = "QueQuan">
    <input type="submit" value = "Send">
</form>